.Header {
  user-select: none;
  padding: 16px;
  background-color: #f1f1f1;
  border: 0.1px solid #cfcfcf;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Header span {
  cursor: pointer;
}
