.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #cfcfcf;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Submit {
  text-align: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

.Submit:hover {
  color: #ddd;
}
